doctype html 

html 
  head 
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Barcode generator

    link(rel="shortcut icon" href="favicon.png")

  body
    block bodyContent
