<div class="container">
  <h1>About this project</h1>
  <p>
    Once upon a time, I worked with backups and I frequently needed to create
    tape labels. One day, the free site I used started charging money for the
    service so I developed the
    <a href="https://github.com/markusberg/barcode-php" target="_blank"
      >predecessor to this project</a
    >.
  </p>

  <p>
    The second iteration of this project was written in JavaScript using
    <a href="https://angularjs.org/" target="_blank">AngularJS</a> with a
    backend in <a href="https://nodejs.org/" target="_blank">Node.JS</a>. Many
    years and countless iterations later I'm still using Node.JS on the backend,
    but everything is TypeScript, and the frontend is
    <a href="https://angular.io/" target="_blank">Angular</a>.
  </p>

  <p>
    I finally decided to take the time to publish this as a standalone project
    and publish it to GitHub. Enjoy.
  </p>
</div>
