# The port that the backend runs on, defaults to 3110 if left blank
PORT=
# The sub path that the service runs from. If you intend to serve
# from https://example.com/barcode-generator, you should set this parameter
# to /barcode-generator
SERVER_PREFIX=
