@if (form) {
  <div class="row fw-bold align-items-end">
    <div class="col"><label class="form-label">Tape type</label></div>
    <div class="col"><label class="form-label">Suffix</label></div>
    <div class="col"><label class="form-label">Prefix</label></div>
    <div class="col"><label class="form-label">Starting number</label></div>
    <div class="col-3">
      <label class="form-label">Number of labels</label>
    </div>
    <div class="col">&nbsp;</div>
  </div>

  @for (label of form.controls.labels.controls; track $index) {
    <div class="row" [formGroup]="label">
      <div class="col">
        <div class="form-group">
          <select
            class="form-select"
            formControlName="tapetype"
            (change)="onTapetypeChange(label)"
          >
            @for (t of tapetypes; track t) {
              <option [value]="t.id">
                {{ t.name }}
              </option>
            }
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          @if (label.controls.tapetype.value !== 'DLT') {
            <input
              class="form-control"
              formControlName="suffix"
              [readOnly]="label.controls['tapetype'].value !== 'custom'"
              [class.is-invalid]="label.controls['suffix'].invalid"
              [class.bg-light]="label.controls['tapetype'].value !== 'custom'"
            />
          } @else {
            <span>N/A</span>
          }
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <input
            class="form-control"
            formControlName="prefix"
            [class.is-invalid]="label.controls['prefix'].invalid"
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <input
            class="form-control"
            formControlName="startno"
            [class.is-invalid]="label.controls['startno'].invalid"
          />
        </div>
      </div>
      <div class="col-3">
        <div class="d-flex">
          <div class="form-check text-nowrap me-3">
            <input
              class="form-check-input"
              type="checkbox"
              formControlName="fillpage"
              [id]="'fillpage' + $index"
            />
            <label class="form-check-label" [for]="'fillpage' + $index"
              >Fill page</label
            >
          </div>
          <div class="form-group" [hidden]="label.controls.fillpage.value">
            <input
              class="form-control"
              formControlName="num"
              type="number"
              (blur)="onNumBlur(label)"
              [class.is-invalid]="label.controls['num'].invalid"
            />
          </div>
        </div>
      </div>
      <div class="col text-end">
        <div class="form-group">
          @if (isLast($index)) {
            <button
              type="button"
              class="btn btn-primary text-nowrap"
              (click)="appendCopy(label)"
            >
              <i class="bi bi-plus me-1"></i>Add
            </button>
          } @else {
            <button
              class="btn btn-warning text-nowrap"
              (click)="removeLabels($index)"
            >
              <i class="bi bi-trash me-1"></i>Remove
            </button>
          }
        </div>
      </div>
    </div>
  }
}
